.logo{
    width: 280px;
    text-align:bottom;
    margin-top: 100px;
}

.logo-div{
    background-image: url(../img/pattern.png);
    background-color: deepskyblue;
    height: 180px;
}

h1{
    font-size: 70px;
    margin-bottom: 0px;
}

.info{
    color:gray;
    margin-bottom: 25px;
    font-size: 20px;
 }

 #blue{
     color:deepskyblue;
 }

 .tim-img{
     text-align: center;
 }

 .Tim{
     height:676px;
 }

 .caption{
     font-size: 15px;
     margin-bottom: 35px;
 }

 p{
     font-size: 20px;
 }

 .yellow{
     background-color:yellow;
 }

 ul{
     font-size: 20px;
     text-align: left;
     padding-left: 15px;
 }
